main{
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}
a{
    position: relative;
    left: 80%;
    top: -60px;
}
main p{
    font: bolder 5.5rem serif ;
    text-shadow: 1px 1px 2px 1px;
    color: rgb(37, 102, 163);
}

#yt{
    font: bolder 1rem serif;
    position: relative;
    left: 143px;
    top: 30px;
}
#insta{
    font: bolder 1rem serif;
    position: relative;
    left: 260px;
    top: -4px;
}
#lkn{
    font: bolder 1rem serif;
    position: relative;
    left: 390px;
    top: -38px;
}
#face{
    font: bolder 1rem serif;
    position: relative;
    left: 515px;
    top: -72px;
}
#whats{
    font: bolder 1rem serif;
    position: relative;
    left: 133px;
    top: -2px;
}
#spo{
    font: bolder 1rem serif;
    position: relative;
    left: 268px;
    top: -35px;
}
#tt{
    font: bolder 1rem serif;
    position: relative;
    left: 390px;
    top: -69px;
}
#sky{
    font: bolder 1rem serif;
    position: relative;
    left: 524px;
    top: -100px;
}


.img #youtube {
    width: 40px;
    position: relative;
    top: 430px;
    right: 450px;
}
.img #instagram {
    width: 40px;
    position: relative;
    top: 430px;
    right: 590px;
}
.img #linkedin {
    width: 40px;
    position: relative;
    top: 430px;
    right: 420px;
}
.img #facebook {
    width: 40px;
    position: relative;
    top: 430px;
    right: 380px;
}
.img #whatsapp {
    width: 40px;
    position: relative;
    top: 530px;
    right: 495px;
}
.img #spotify {
    width: 40px;
    position: relative;
    top: 530px;
    right: 460px;
}
.img #twitter {
    width: 40px;
    position: relative;
    top: 530px;
    right: 290px;
}
.img #skype {
    width: 40px;
    position: relative;
    top: 530px;
    right: 250px;
}

.traco{
    width: 20px;
    padding-left: 95%;
    position: relative;
    top: 5px;
}
main input{
    width: 500px;
    background-image: url(img/search-solid.svg);
    background-repeat: no-repeat;
    padding-top: 3px;
    padding-left: 40px;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
    height: 40px;
    position: relative;
    top: -55px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    font: message-box;
    box-shadow: 1px 1px 1px 2px;
}
